!!! 5
%html
  %head
    %title= "aprend.io" + (content_for?(:subject_title) ? " &#183; #{yield_content(:subject_title)}" + (content_for?(:page_title) ? " &#9656; #{yield_content(:page_title)}" : "" ) : "")
    %meta{ charset: "utf-8"}
    %meta{ name: "author", content: "DrummerHead"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "main", "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"

  %body{ class: page_classes }
    = partial "layouts/partials/browsehappy"
    = partial "layouts/partials/header"
    %main{ role: "main" }
      = yield
    = partial "layouts/partials/scripts"
