- content_for(:subject_title, subject_title)
- content_for(:page_id, number)
- if page_title != nil
  - content_for(:page_title, page_title)

%article
  %header
    %h1
      = "#{subject_title}"
      - if page_title != nil
        = "&#9656; #{page_title}"
      %small.nice-number= number
  %section#video
    %iframe{ src: "//www.youtube.com/embed/#{video_url}", allowfullscreen: true }
    %small
      1080 y audifonos recomendado
  %section#details
    %p= description

    %h2 Código
    %ul
      - code_url.each do |code_link|
        %li
          = link_to code_link, code_link

    %h2 Links relacionados
    %ul
      - links.each do |link|
        %li
          = link_to link, link, { rel: "external" }

    %h2 Keywords
    %ul.keywords
      - keywords.each do |keyword|
        %li= keyword

    %ul.pagination
      - if previous_page
        %li.prev
          = link_to "&#8592; Anterior", previous_page, { class: 'button', rel: 'prev'}
      - if next_page
        %li.next
          = link_to "Siguiente &#8594;", next_page, { class: 'button', rel: 'next'}

  %section#comments
    %h2 Comentarios
    #disqus_thread
