%article
  %header
    %h1 title of video, concept, whatever
  %section#video
    = image_tag "http://placehold.it/700x400&text=video"
    %small
      recomiendo ver a 1080 y usar audifonos
  %section#details
    %p en este video la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, la sicodelia es fuerte, 

    %h2 Codigo
    %ul
      %li
        = link_to "codigo", "http://github.com/"
      %li
        = link_to "codigo", "http://github.com/"

    %h2 Links relacionados
    %ul
      %li
        = link_to "w3fools", "http://www.w3fools.com/"
      %li
        = link_to "validator", "http://validator.w3.org/"
    %h2 Keywords
    %ul
      %li magia
      %li existencia
      %li amor
      %li creacion
  %section#comments
    %p this is the comments area
