- content_for(:subject_title, subject_title)
- if page_title != nil
  - content_for(:page_title, page_title)

%article
  %header
    %h1
      = "#{subject_title}"
      - if page_title != nil
        = "&#9656; #{page_title}"
      %small= number
  %section#video
    %iframe{ src: "//www.youtube.com/embed/#{video_url}", frameborder: 0, allowfullscreen: true }
    %small
      1080 y audifonos recomendado
  %section#details
    %p= description

    %h2 Codigo
    %ul
      - code_url.each do |code_link|
        %li
          = link_to code_link, code_link

    %h2 Links relacionados
    %ul
      - links.each do |link|
        %li
          = link_to link, link

    %h2 Keywords
    %ul
      - keywords.each do |keyword|
        %li= keyword

  %section#comments
    %p this is the comments area

%ul
  - if previous_page
    %li
      = link_to "Previous", previous_page
  - if next_page
    %li
      = link_to "Next", next_page
