%header{ role: "banner" }
  .brand
    = link_to "/" do
      = image_tag("/images/aprendio-logo.png", { alt: "aprend.io", class: "logo" })
      = image_tag("/images/aprendio-slogan.png", { alt: "COMIENZA A CREAR", class: "slogan" })
    %small

  %nav
    %ol{ role: "navigation" }
      - data.pages.each do |subject, subject_data|
        %li
          = link_to subject_data.metadata.page_title, "/" + subject_data.metadata.url
          - if subject_data.children
            %ol
              - subject_data.children.each do |page, page_data|
                %li
                  = link_to page_data.metadata.page_title, "/" + subject_data.metadata.url + "/" + page_data.metadata.url

  .social
    %ol
      %li
        = link_to image_tag("http://placehold.it/50x50", { alt: "joajoa" }), "http://placehold.it/50x50"
      %li
        = link_to image_tag("http://placehold.it/50x50", { alt: "joajoa" }), "http://placehold.it/50x50"
      %li
        = link_to image_tag("http://placehold.it/50x50", { alt: "joajoa" }), "http://placehold.it/50x50"
