%header{ role: "banner" }
  .brand
    = link_to "/" do
      = image_tag("/images/aprendio-logo.png", { alt: "aprend.io", class: "logo" })
      = image_tag("/images/aprendio-slogan.png", { alt: "comienza a crear", class: "slogan" })

  %nav{ role: "navigation" }
    %ol
      - data.pages.each do |subject, subject_data|
        %li{ class: (subject_data.children ? "has-submenu" : nil) }
          = link_to subject_data.metadata.page_title, "/#{subject_data.metadata.url}"
          - if subject_data.children
            %ol
              - subject_data.children.each do |page, page_data|
                %li
                  = link_to page_data.metadata.page_title, "/#{subject_data.metadata.url}/#{page_data.metadata.url}"
      %li
        = link_to "Acerca", "/acerca"

  .social
    %ol
      %li.twitter
        = link_to "https://twitter.com/DrummerHead" do
          %span.fa.fa-twitter
      %li.github
        = link_to "https://github.com/DrummerHead/aprend.io-code" do
          %span.fa.fa-github
      %li.download
        = link_to "https://github.com/DrummerHead/aprend.io-code/archive/master.zip" do
          %span.fa.fa-download
